<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Meme</title>
    <link rel="stylesheet" href="../css/createMeme.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class = "container">
        <div id = "overlay">
    <h1>Create Your own Meme Page</h1>

    <form>
        <label>Page Name</label>
        <input type="text" id = "pageName" class="form-control" >
        <label>Page Description</label>
        <input type="text" id ="pageDescription" class="form-control" >
        
        <br/><br/>
        <div id="qus_holder">
            <div class = "memeContent" id="1">
                    <h4>Enter the Meme's Content</h4>
                    <div class="form-group row">
                        <label for="exampleInputEmail1">Content</label><br/>
                        <input type="text" id ="content"class="form-control content" ><br/>
                        <label for="cb">Upload Image</label>
                        <input type="file" accept="image/*" >
                    </div>
                    
            </div>
        </div>

        <button class="add btn btn-primary" type="button" onclick="new_link()" >Add</button>
        <button type="button" id ="formSubmit" class="btn btn-primary" onclick="postMeme()">Submit</button>
    
    </div>
    </form>
    <script>
        /*
        This script is identical to the above JavaScript function.
        */
        var ct = 1;
        var height = 1150;
        function new_link()
        {
            ct++;
            height = height+500;
            console.log(ct)
            var div1 = document.createElement('div');
            div1.id = ct;
            // link to delete extended form elements
            var delLink = '<div style="text-align:right;margin-right:65px"><a href="javascript:delIt('+ ct +')">Delete</a></div>';
            div1.innerHTML = document.getElementById('1').innerHTML + delLink;
            document.getElementById('qus_holder').appendChild(div1);
            console.log(height +"px");
            document.getElementById('c').style.height = height +"px";
        }
        // function to delete the newly added set of elements
        function delIt(eleId)
        {
            d = document;
            var ele = d.getElementById(eleId);
            var parentEle = d.getElementById('qus_holder');
            parentEle.removeChild(ele);
        }
        </script>
    
    <script src="../js/postMeme.js"></script>
</div>
</div>
</body>
</html>