<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>LOGIN</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	 <link rel="stylesheet" href="../css/login.css">
	 <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>
	 <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
   
</head>
<body>
	<div class="container">
	<div class="row">
		<div class="col-md-6 mx-auto p-0">
			<div class="card">
				<div class="login-box">
					<div class="login-snip"> <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label> <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
						<div class="login-space">
							<div class="login">
								<div class="group"> <label for="user" class="label">Username</label> <input id="username" type="text" class="input" placeholder="Enter your username"> </div>
								<div class="group"> <label for="pass" class="label">Password</label> <input id="password" type="password" class="input" data-type="password" placeholder="Enter your password"> </div>
								<div class="group"> <input type="submit" class="button" id ="signIn" value="Sign In" onclick="signIn()"> </div>
								<div class="hr"></div>
								<div class="foot"> <label for="tab-2">Not a Member?</label> </div>
							</div>
							<div class="sign-up-form">
								<div class="group"> <label for="user" class="label">Username</label> <input id="user" type="text" class="input" placeholder="Create your Username"> </div>
								<div class="group"> <label for="pass" class="label">Password</label> <input id="pass" type="password" class="input" data-type="password" placeholder="Create your password"> </div>
								<div class="group"> <label for="pass" class="label">Email Address</label> <input id="email" type="text" class="input" placeholder="Enter your email address"> </div>
								<div class="group"> <input type="submit" class="button" id ="signUp" value="Sign Up" onclick="signUp()"> </div>
								<div class="hr"></div>
								<div class="foot"> <label for="tab-1">Already Member?</label> </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<script src="../js/login.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
</html>